/* img {
    height: 65px;
    width: 60px;
    margin: 46px 46px 0px;
}

nav {
    color: white;
    background-color: #3a3a3d;
    text-transform: uppercase;
    width: 150px;
    height: 800px;
    line-height: 3;
    font-family: sans-serif;
    box-sizing: border-box;
    padding-top: 150px;
    font-weight: bold;
    float:left;
}

#input {
    float: left;
} */


